<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Weather_Forecast.Properties.Settings.Weather_ForecastConnectionString"
            connectionString="Data Source=KALICHHE\SQLEXPRESS;Initial Catalog=Weather_Forecast;Persist Security Info=True;User ID=Kalichhe;Password=1001154064carloslopez1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>